@import "@catppuccin/palette/css/catppuccin.css";

:root {
  color-scheme: light dark;
}

body {
  font-family: Arial, Verdana, Helvetica;
  background-color: light-dark(var(--ctp-latte-base), var(--ctp-mocha-base));
  color: light-dark(var(--ctp-latte-text), var(--ctp-mocha-base));
}